.checkers-2000 {
  padding: 10px;
}

.checkerboard {
  border: 2px solid black;
  width: 250px;
  height: 250px;
}

.checkerboard-square {
  border: 1px solid black;
  display: inline-block;
  width: 12.5%;
  height: 12.5%;
}

.red-square {
  background-color: #f22;
}

.black-square {
  background-color: #333;
}

.checker-piece, .checker-piece-inner-ring {
  border: 1px solid black;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  margin: 10%;
}

.red-piece {
  background-color: #a00;
}

.red-piece .checker-piece-inner-ring {
  background-color: #aa1414;
}

.black-piece {
  background-color: #111;
}

.black-piece .checker-piece-inner-ring {
  background-color: #1c1c1c;
}
